.navbar {
    background:  linear-gradient(to right, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    padding: 20px;
    box-shadow: 1px 1px 10px black;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
  }
  
  .title {
    margin: 0;
    padding: 0;
    color: #fff;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .nav-item {
    margin-left: 10px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 3px;
    transition: 0.3s;
  }
  
  .nav-link:hover {
    background-color: #ff009de3;
  }
  